<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">

    <title>Error</title>
</head>
<body id="bo">

 
        <center>
        <div class="err">
   <h1 class="code">{{.Status}}</h1>
    <br>
    <h3 class="message">{{.Message}}</h3>     
  
    <a href="/" class="back">Back</a>  
    </div>
<center>
      
</body>
</html>